DISCORD_TOKEN=
PRICES_CHANNEL_ID=0
PRICES_ENABLED=true
PRICES_REFRESH_SEC=20
PRICES_TITLE=Night Crows prices
DEFAULT_TZ=Europe/Moscow
USD_BASE=100
DEX_TAKER_FEE=0.06
INGAME_MARKET_FEE=0.05
PRICES_JSON_PATH=prices.json
INGAME_PRICES_JSON=ingame_prices.json
